USE [DMDM]
GO
/****** 对象:  Table [dbo].[similarities]    脚本日期: 04/26/2010 08:30:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[similarities](
	[p1] [varchar](20) NOT NULL,
	[p2] [varchar](20) NOT NULL,
	[sim] [float] NULL,
 CONSTRAINT [PK_similarities] PRIMARY KEY CLUSTERED 
(
	[p1] ASC,
	[p2] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF